/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header .logo img {
    max-width: 50px;
}

.header {
    transition: all 0.5s;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
  }
  
  .header .title h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 23px;
    margin: 0;
    padding-top: 12px;
    padding-left: 35px;
    font-weight: 400;
    color: #B97641;
  }
  
  .header .social-icons {
    margin-left: 5%;
    padding-top: 16px;
    padding-right: 7px;
  }
  
  .header .social-icons i {
    font-size: 15px;
    padding: 5px;
  }
  
  .header .social-icons a {
    color: #B97641;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
  }
  
  .header .social-icons a:hover {
    color: #E0B15B;
  }
  
  
  /* MOBILE HEADER*/
  @media (max-width: 650px) {
  
    .header {
      padding-top: 0;
      padding-right: 20px;
    }

    .header .social-icons {
      display: none;
    }
    
  }


/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/
main {
  background-color: #EDE9E6;
  background-image: url('images/texture.png'); /* Imagem de textura */
  background-size: cover;
  background-repeat: no-repeat; /* Repetir a textura */
  background-blend-mode: multiply; /* Mistura de cores */  
  padding: 1% 4% 4%;
  display: flex;
}

main .row #icone img {
  max-width: 400px;
  margin: 20px 0;
}

main #content h2 {
  font-family: 'League Spartan', sans-serif;
  line-height: 22px;
  color: #585858;
  text-align: center;
  font-size: 22px;
  padding: 20px 90px;
}

main #content h2 span {
  position: relative;
  z-index: 1;
  padding: 0;
  display: inline-block;
}

main #content span:before {
  content: "";
  position: absolute;
  height: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e0b15baf;
  z-index: -1;
}

main .inside-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 0 90px;
}

main .inside-content .address {
  padding-top: 10px;
}

main .inside-content .icone {
  padding-right: 30px;
}

main .inside-content .address .divider {
  padding: 4px;
}

main .inside-content .address span {
  font-family: 'League Spartan', sans-serif;
  line-height: 18px;
  display: block;
}

@media (min-width: 1153px){
  main #icone {
    padding-left: 5%;
  }

  main #content h2 {
    font-size: 26px;
    padding: 15% 5% 20px;
    margin-right: 15%;
    line-height: 20px;
  }
}

@media (max-width: 500px){

  main .row #icone img {
    max-width: 350px;
  }
  
  main #content h2 {
    font-size: 22px;
    padding: 40px 0px 0;
  }

  main .inside-content {    
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 40px 0;
  }

  main .inside-content .icone {
    padding-right: 30px;
  }
}

/*--------------------------------------------------------------
# ITEM-LIST
--------------------------------------------------------------*/
#item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista {
 padding: 4% 2% 12%;
}

.lista .title h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 28px;
  color: #B97641;
  padding: 0 0 5px 35px;
}

.lista h3, .lista h5, .lista a {  
  font-family: 'League Spartan', sans-serif;
}

/* Estilo do nome do item */
.item h3 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
}

.item a {
  text-decoration: none;
  color: #333; /* Cor do texto do link */
}

.item a:hover {
  text-decoration: none;
  color: #333; /* Cor do texto do link */
}

/* Estilo da descrição */
.item p {
  font-size: 14px;
  color: #666; /* Cor do texto da descrição */
  margin-right: 60px;
}

.lista .item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo geral dos itens */
.item {
    border: 1px solid #B97641; /* Cor da borda */
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #fff; /* Cor de fundo */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: left;
    width: 600px;
    transition: 0.5s;
}

.item:hover {
  scale: 1.02;
}

/* Estilo da imagem */
.item img {
    max-width: 90px;
    margin-right: 10px;
    /* border: 1px solid #ddd;  */
    border-radius: 10px; 
}

/* Estilo do botão de compra */
.item button {
    margin-left: auto;
    background-color: #b97541e0; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Efeito de transição suave */
    font-size: 16px;
}

.item button:hover {
    background-color: #E0B15B; /* Cor de fundo do botão ao passar o mouse */
}

/* Estilo dos itens desativados */
.item.disabled {
    opacity: 0.7; /* Opacidade reduzida para itens desativados */
    pointer-events: none; /* Itens desativados não são clicáveis */
}

@media screen and (max-width: 600px){
   .lista {
    padding: 6% 2% 12%;
   }
   
   #item-list {
    justify-content: space-evenly;
    padding: 0;
    flex-direction: grid;
   }
   
  .lista .title h1 {
     font-size: 25px;
     padding: 20px 0 0;
     text-align: center;
   } 
   
   .item h3 {
    margin-top: 10px;
     font-size: 15px;
   }
   
   .item p {
     font-size: 13px;
     color: #666; 
     margin: 0 0 10px 0;
   }
    
   #item-list .item {
    width: 185px;
    display: block;
    margin: 0;
    margin-bottom: 15px;
  }

  .item img {
    max-width: 180px;
    width: 100%;
  }

  .item button {
    height: 30px;
    width: 100%;
    font-size: 14px;
    padding: 0;
    margin-bottom: auto;
  }
}

/*--------------------------------------------------------------
# MODAL
--------------------------------------------------------------*/

.modal-content #confirmarNomeBtn {
    background-color: #b97541e0; 
    color: #fff; 
    border: none;
}

.modal-content #btnClose {
    background-color: #666666bb; 
    color: #fff; 
    border: none;
}

.modal-content .modal-title {
  font-family: 'League Spartan', sans-serif;
  font-size: 28px;
  color: #B97641;
}

.modal-content .modal-body input {
  padding-left: 5px;
}

/*--------------------------------------------------------------
# MODAL
--------------------------------------------------------------*/
#footer{
  background-color: #B97641;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  font-weight: lighter;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  padding: 0 1%;
}

.footer-container-i .more-info p {
  padding: 0;
  margin: 0;
}

.footer-container-i {
  padding: 2rem 0 1rem 0;
}

.footer-container-ii{
  padding: 0;
}

.icon i {  
  color: #fff;
}

.footer-container-iii {
  padding: 2rem 0 1rem 0;
}

#footer a{
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  transition: 0.3s;
}

#footer a:hover{
  color:#dfdfdf
}